@import 'src/styles/mixin.scss';

.root {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  background: var(--white);
  transition: transform var(--transition);

  &.hide {
    transform: translateY(-100%);
  }

  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include maxWrap;
  }

  .logo {
    display: flex;
    width: 140px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .menu {
    display: flex;
    background: var(--gray);
    border-radius: var(--radiusL);

    a {
      padding: 20px 35px;
      border-radius: var(--radiusL);
      text-decoration: none;
      color: #8987A1;

      &:hover {
        background: var(--plump);
        color: var(--white);
      }
    }
  }
}