@import 'src/styles/mixin.scss';

.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include maxWrap;

  .logo {
    display: flex;

    img {
      width: auto;
      height: auto;
    }
  }

  .menu {
    display: flex;
    background: var(--gray);
    border-radius: var(--radiusL);

    a {
      padding: 20px 35px;
      border-radius: var(--radiusL);
      text-decoration: none;
      color: #8987A1;

      &:hover {
        background: var(--plump);
        color: var(--white);
      }
    }
  }
}