:root {
  // Colors
  --white: #fff;
  --black: #030409;

  --plump: #4d62c2;
  --white: #fff;
  --gray: #f5f5f5;
  --color-3: #8987a1;

  // Effects
  --transition: 0.3s ease;

  // Fonts
  --raleway-regular: "Raleway-Regular";
  --raleway-medium: "Raleway-Medium";
  --raleway-bold: "Raleway-Bold";

}
