:root {
  // Colors
  --white: #fff;
  --black: #030409;

  --plump: #4d62c2;
  --white: #fff;
  --gray: #f5f5f5;
  --color-3: #8987a1;

  --radiusS: clamp(10px, 2vw + 5px, 25px);
  --radiusL: 42px;

  --paddingTag: clamp(10px, 2vw + 4px, 15px) clamp(20px, 2.5vw + 5px, 25px);

  // Effects
  --transition: 0.3s ease;

  // Fonts
  --raleway-regular: "Raleway-Regular";
  --raleway-medium: "Raleway-Medium";
  --raleway-bold: "Raleway-Bold";

  // Layout
  --max-width: 1920px;
}
