@import "src/styles/common";

.root {
  .item {
    position: relative;
    aspect-ratio: 400 / 455;
    padding: min-max(24, 30) min-max(16, 24);
    display: flex;
    border-radius: min-max(12, 24);
    background-color: var(--plump);
    color: var(--white);
    max-height: min-max(200, 500);

    .ceo {
      align-self: flex-end;
      .link {
        color: var(--black);
        display: flex;
        gap: min-max(8, 12);
        align-items: center;
      }
      p {
        margin-top: min-max(4, 8);
      }
    }
  }
}
