@import "src/styles/common";

.root {
  .item {
    position: relative;
    aspect-ratio: 400 / 455;
    padding: min-max(24, 30) min-max(16, 24);
    display: flex;
    border-radius: min-max(12, 24);
    background-color: var(--plump);
    max-height: min-max(200, 500);
    color: var(--white);

    .ceo {
      align-self: flex-end;

      .link {
        display: flex;
        align-items: center;
        gap: min-max(8, 12);
        color: var(--black);
      }
    }
  }
}