@import "src/styles/common";

.root {
  display: flex;
  flex-wrap: wrap;
  gap: min-max(8, 16);

  span {
    background: var(--white);
    padding: min-max(8, 16) min-max(14, 24);
    border-radius: min-max(24, 40);
    text-align: center;
    font-size: min-max(12, 16);
  }
}
