@import "src/styles/common";

.root {

  &_tags {
    display: flex;
    flex-wrap: wrap;
    gap: min-max(10, 16);

    span {
      padding: min-max(2, 4) min-max(8, 14);
      background-color: var(--gray);
      border-radius: 50px;
      display: block;
    }
  }
  &_title {
    margin-top: min-max(12, 16);
    max-width: 800px;
  }

  &_icon {
    display: flex;
    width: 100%;
    margin-top: min-max(24, 50);
    border-radius: min-max(12, 24);
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
    }
  }
}
