.root {
  .wrap {
    display: flex;
    gap: 12px;

    .tabs {
      width: 40%;
      background: var(--plump);
      padding: 40px;
      margin: 40px 0;
      border-radius: var(--radiusS);
      color: var(--white);
    }

    .content {
      width: 60%;
      background: var(--gray);
      padding: 40px;
      margin: 40px 0;
      border-radius: var(--radiusS);
    }
  }
}