@import "src/styles/common";

.root {
  [data-wrapper] {
    padding-block: min-max(16, 40);
    color: var(--white);
  }

  .grid {
    background: var(--plump);
    border-radius: min-max(12, 24);
    padding-block: min-max(10, 20);
    align-items: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: min-max(16, 24);
  }

  .word {
    grid-column: 1/3;
    display: flex;
    padding-inline: min-max(16, 30);

    &_icons {
      position: relative;
      display: flex;
      width: 100%;
    }

    &_map {
      mask: url("/icons/word_mask.svg") top left/min-max(6, 12) repeat;
      animation: translateMask 1s infinite linear;
    }

    &_dots {
      position: absolute;
      top: 0;
      left: 0;
    }

    img {
      width: 100%;
      height: auto;
    }

    @keyframes translateMask {
      0% {
        -webkit-mask-position-x: 0px;
      }
      100% {
        -webkit-mask-position-x: 20px;
      }
    }
  }
}
