@import "src/styles/common";

.root {
  .grid {
    background: var(--plump);
    border-radius: min-max(12, 24);
    color: var(--white);
    padding: min-max(24, 40) min-max(16, 36);
    display: flex;
    flex-direction: column;

    @include mq-min-768 {
      flex-direction: row;
    }

    &_left {
      display: flex;
      flex: none;

      @include mq-min-768 {
        width: 35%;
      }
    }

    &_form {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: min-max(20, 35);
      grid-column: 2/4;
      padding: min-max(24, 32) min-max(16, 36);

      @include mq-max-768 {
        order: -1;
        max-width: none;
        padding: min-max(16, 30) 0;
        gap: 24px;
      }
    }
  }

  .ceo {
    position: relative;
    padding: min-max(20, 50);
    background-color: #697dd9;
    border-radius: min-max(12, 24);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    justify-content: center;
    min-height: 200px;

    .top {
      position: relative;
      padding-bottom: 25px;
      margin-bottom: 60px;

      p {
        margin: 5px 0 0;
        font-size: 24px;
        font-family: var(--raleway-bold);
        line-height: 120%;
      }

      &:before,
      &:after {
        z-index: -1;
        content: '';
        position: absolute;
      }

      &:before {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: var(--white);
      }

      &:after {
        left: 5px;
        bottom: -14px;
        background: #697dd9;
        width: 28px;
        height: 28px;
        transform: rotate(45deg);
        border-style: solid;
        border-color: #fff;
        border-width: 0px 1px 1px 0px;
      }
    }

    .img {
      width: 100px;
      height: 100px;
      margin: 0 0 15px;
      border-radius: 50%;
      overflow: hidden;
      background: var(--gray);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: min-max(20, 30);
    font-family: var(--raleway-medium);
    opacity: 1 !important;

    label {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    input,
    textarea {
      background: var(--white);
      outline: none;
      border: none;
      border-radius: min-max(6, 8);
      padding: min-max(10, 12) min-max(14, 16);
      resize: none;

      &::placeholder {
        color: #9ca4bf;
      }
    }

    [data-error] {
      font-size: min-max(10, 12);
      line-height: 130%;
      color: var(--black);
    }

    .status {
      display: flex;
      align-items: center;
      gap: min-max(8, 16);

      @include mq-min-768 {
        .submit {
          width: auto;
        }
      }
    }

    .submit {
      --color: var(--black);
      outline: none;
      background-color: var(--color);
      transition: var(--transition);
      color: var(--white);
      font-size: min-max(14, 18);
      border-radius: min-max(32, 42);
      padding: min-max(14, 16) min-max(24, 32);
      cursor: pointer;
      border: 1px solid var(--color);
      width: 100%;

      &:valid {
        @include hover {
          background-color: var(--white);
          border-color: var(--white);
          color: var(--plump);
        }
      }

      &:disabled {
        --color: #697dd9;
        color: #bbc6f7;
        pointer-events: none;
      }
    }

    .loader {
      width: 20px;
      aspect-ratio: 1;
      flex: none;
      background-color: var(--white);
      border-radius: 50%;
      padding: 5px;
      animation: loader 0.5s linear infinite;

      &::after {
        content: "";
        display: flex;
        width: 4px;
        aspect-ratio: 1;
        background-color: var(--plump);
      }
    }

    .status {
      line-height: 140%;
    }

    @keyframes loader {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.popup {
  position: fixed;
  z-index: 999;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // display: none;
  background: rgba(3, 8, 35, 0.6); //rgb(3 8 35 / 60%)
  backdrop-filter: blur(5px);
  opacity: 0;
  transition: opacity var(--transition);
  text-align: center;

  @include mq-max-768 {
    padding: 16px;
    align-items: normal;

    .wrapper {
      width: 100%;
      justify-content: center;
    }
  }

  &.active {
    opacity: 1;
  }

  .over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .wrapper {
    position: relative;
    padding: min-max(32, 100) min-max(24, 80);
    background: var(--plump);
    border-radius: min-max(12, 24);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    gap: min-max(5, 10);
    box-shadow: 0 1px 11.2px 0 #172c73;
  }

  .title {
    font-family: var(--raleway-bold);
    line-height: 115%;
    letter-spacing: 0em;
    font-size: min-max(24, 32);
  }

  .subtitle {
    font-size: min-max(16, 20);
  }

  .close {
    text-align: center;
    border-radius: min-max(32, 42);
    padding: min-max(12, 16) min-max(20, 32);
    border: 1px solid var(--white);
    cursor: pointer;
    transition: var(--transition);
    min-width: 200px;
    margin-top: min-max(8, 20);

    @include hover {
      background-color: var(--white);
      color: var(--plump);
    }
  }
}