@import "src/styles/common";

.intro {
  background: transparent;
  padding-top: min-max(60, 90);

  [data-wrapper] {
    padding-block: min-max(40, 60);
  }

  .wrapper {
    z-index: 1;
    position: relative;
    max-width: min-max(500, 720);
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: min-max(20, 32);
    align-items: center;
  }

  .text {
    @include font_18_reg;
  }

  .progress {
    display: flex;
    gap: min-max(16, 40);
    margin-top: min-max(16, 24);

    .value {
      @include font_36;
      color: var(--plump);
    }

    .text {
      margin-top: 0.5em;
    }
  }
}