@import "src/styles/common";

.intro {
  position: relative;
  background: transparent;
  padding-top: min-max(60, 90);
  // background: url('/img/home.jpg') no-repeat center / cover;
  // background-size: auto 100%;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  [data-wrapper] {
    padding-block: min-max(40, 60);
  }

  .wrapper {
    z-index: 1;
    position: relative;
    max-width: min-max(500, 720);
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: min-max(20, 32);
    align-items: center;
  }

  .text {
    @include font_18_reg;
  }

  .progress {
    display: flex;
    gap: min-max(16, 40);
    margin-top: min-max(16, 24);

    .value {
      @include font_36;
      color: var(--plump);
    }

    .text {
      margin-top: 0.5em;
    }
  }
}