@import 'src/styles/mixin.scss';

.root {
  background: var(--plump);
  padding: 40px;
  margin: 40px 0;
  color: var(--white);

  .wrap {
    @include maxWrap;
  }

  .slider {
    color: var(--black);

    .slide {
      background: var(--white);
      padding: 40px;
      border-radius: var(--radiusS);
    }
  }
}