@import "src/styles/common";

.root {
  background: var(--plump);
  color: var(--white);

  .wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .slider {
    color: var(--black);
    margin-top: min-max(24, 40);

    .slide {
      background: var(--white);
      border-radius: min-max(12, 24);
      padding: min-max(24, 40) min-max(20, 35);
      display: flex;
      flex-direction: column;
      height: auto;
    }

    @include mq-max-768 {
      .swiper {
        overflow: visible;
        width: 85%;
        margin: 0;
      }
    }
  }

  .text {
    position: relative;
    padding-left: min-max(24, 30);
    margin-top: min-max(24, 60);

    img {
      position: absolute;
      top: 5px;
      left: 0;
      width: min-max(14, 18);
      height: auto;
    }
  }

  .info {
    display: flex;
    align-items: center;
    gap: min-max(10, 16);

    img {
      width: min-max(60, 100);
      height: auto;
    }
  }

  .buttons {
    display: flex;
    align-items: flex-end;
    flex: 1;
    margin-top: min-max(16, 24);

    .links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .site {
        color: var(--plump);
      }
    }
  }
}