@import "common";
@import "global";
@import "modern-normalize/modern-normalize.css";

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: var(--black);
  @include font_16;
}

main {
  overflow: hidden;

  // this padding is used on some pages separately
  padding-top: min-max(60, 90);

  .no-p-t & {
    padding-top: 0;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    padding-block: min-max(40, 60) min-max(40, 110);
    flex-direction: column;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 1680px;
  padding-inline: min-max(16, 110);

  @include mq-max-1024 {
    padding-inline: min-max(16, 40);
  }

  &.md {
    padding-block: min-max(16, 40);
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: min-max(12, 16);
    width: 100%;

    @include mq-max-768 {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}

.site-logo {
  width: min-max(100, 141);
  display: flex;
  transition: unset;

  svg {
    width: 100%;
    height: auto;
  }
}

a {
  text-decoration: none;
  transition: var(--transition);
}

button {
  border: none;
  outline: none;
  background: transparent;
  color: inherit;
}

.swiper-wrapper {
  opacity: 1 !important;
}

.swiper-pagination {
  --bg: transparent;
  --bg-active: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min-max(5, 8);
  margin-top: min-max(12, 16);
  padding: 2px;

  &-lock {
    display: none !important;
  }

  &.dark {
    --bg: #8987a180;
    --bg-active: var(--plump);
  }

  &-bullet {
    display: flex;
    width: 10px;
    height: 10px;
    border: 1px solid var(--white);
    border-radius: 20px;
    transition: var(--transition);
    cursor: pointer;
    background-color: var(--bg);

    &-active {
      width: 30px;
      background-color: var(--bg-active);
    }
  }
}

.mask_arrow {
  --bg: var(--plump);
  width: min-max(16, 20);
  aspect-ratio: 1;
  flex: none;
  mask: url("/icons/arrow-right.svg") no-repeat center;
  transition: var(--transition);
  background-color: var(--bg);
}

[data-fade] {
  &:not([data-child]) {
    opacity: 0;
  }

  &[data-children] {
    opacity: 1;

    &>* {
      opacity: 0;
    }
  }
}

[data-child] {
  opacity: 0;
}