@import "common";
@import "global";
@import "modern-normalize/modern-normalize.css";

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: var(--black);
  @include font_16;
}

main {
  overflow: hidden;
  padding-top: min-max(60, 90);

  // TODO: remove after refactoring
  > div {
    margin-top: 40px;
    margin-bottom: 40px;

    @media (min-width: 801px) {
      margin-top: 100px;
      margin-bottom: 100px;
    }
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    padding-block: min-max(40, 60) min-max(40, 110);
    flex-direction: column;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 1680px;
  padding-inline: min-max(16, 110);
}

.site-logo {
  width: min-max(100, 141);
  display: flex;

  svg {
    width: 100%;
    height: auto;
  }
}

a {
  text-decoration: none;
  transition: var(--transition);
}

.swiper-pagination {
  --color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: min-max(5, 8);
  margin-top: min-max(12, 16);
  padding: 2px;

  &.dark {
    --color: #8987a180;
  }

  &-bullet {
    display: flex;
    width: 10px;
    height: 10px;
    border: 1px solid var(--color);
    border-radius: 20px;
    transition: var(--transition);
    cursor: pointer;

    &-active {
      width: 30px;
      background-color: var(--color);
    }
  }
}

.mask_arrow {
  --bg: var(--plump);
  width: min-max(16, 20);
  aspect-ratio: 1;
  flex: none;
  mask: url("/icons/arrow-right.svg") no-repeat center;
  transition: var(--transition);
  background-color: var(--bg);
}
.mask_mail {
  --color: var(--white);
  width: min-max(20, 24);
  aspect-ratio: 1;
  flex: none;
  mask: url("/icons/email.svg") no-repeat center;
  transition: var(--transition);
  background-color: var(--color);
}

// TODO: remove after refactoring
input {
  border-radius: 0;
  -webkit-appearance: none;
}

iframe {
  border: none;
  outline: none;
}

button {
  border: none;
}
