@mixin maxWrap {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  // padding: 0 15px;
}

@mixin scrollItems {
  @media (max-width: 800px) {
    display: flex;
    margin-left: -15px;
    width: calc(100% + 30px);
    padding: 0 15px 10px 15px;
    scroll-padding: 0 15px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    >div {
      flex: 0 0 80%;
      scroll-snap-align: start;
    }
  }
}

@mixin titleItems {
  margin-top: 20px;

  @media (min-width: 801px) {
    margin-top: 48px;
  }
}
