@import 'src/styles/mixin.scss';

.root {
  @include maxWrap;

  .items {
    display: flex;
    gap: 12px;
    @include titleItems;
    @include scrollItems;

    @media (min-width: 801px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .card {
      background: var(--gray);
      border-radius: var(--radiusS);
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;

      @media (min-width: 801px) {
        padding: 36px 30px;
        gap: 24px;
      }
    }
  }
}