@import "src/styles/common";

.root {
  .items {
    margin-top: min-max(24, 40);

    &_navs {
      background-color: var(--plump);
      padding: min-max(24, 40) min-max(16, 30);
      border-radius: min-max(12, 24);
      display: flex;
      flex-direction: column;
      gap: min-max(18, 24);
    }

    &_content {
      grid-column: 2/4;
      width: 100%;
      position: relative;
      align-self: stretch;
      display: flex;
    }

    .nav_row {
      .nav {
        background: transparent;
        font-size: min-max(16, 20);
        text-align: left;
        transition: var(--transition);
        cursor: pointer;
        padding: 0;
        position: relative;
        color: var(--white);
        opacity: 0.7;
        display: flex;
        align-items: center;
        gap: 12px;
        width: 100%;
        justify-content: space-between;
        padding-left: 1em;

        .arrow {
          --bg: var(--white);
        }

        &::before {
          content: "";
          position: absolute;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: var(--white);
          left: 0;
          top: calc(0.7em - 3px);
          opacity: 0;
          transition: var(--transition);
        }

        @include hover {
          opacity: 1;
        }

        &.active {
          opacity: 1;

          &::before {
            opacity: 1;
          }
        }
      }
    }

    .nav_content {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows var(--transition);

      &.active {
        grid-template-rows: 1fr;
      }

      .nav_wrapper {
        overflow: hidden;
      }
    }

    .card {
      background: var(--gray);
      border-radius: min-max(12, 24);
      padding: min-max(16, 32);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: min-max(12, 24);
      width: 100%;
      transition: var(--transition);
      margin-top: 16px;

      @include mq-min-768 {
        inset: 0;
        margin: 0;

        &:not(.active) {
          opacity: 0;
          pointer-events: none;
          position: absolute;
        }
      }
    }
  }
}