@import "src/styles/common";

.root {
  .wrapper {
    flex-direction: column;
    gap: min-max(24, 40);
  }

  .items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: min-max(16, 24) min-max(12, 16);

    @include mq-max-768 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq-max-640 {
      grid-template-columns: repeat(2, 1fr);
    }

    .itemWrap.itemButton {
      @include hover {
        .item {
          background-color: var(--plump);
          color: var(--white);
        }

        .button {
          visibility: visible;
          opacity: 1;
          transform: translateY(-15px);
        }
      }
    }

    .item {
      position: relative;
      background: #f7f7f7;
      border-radius: min-max(12, 24);
      aspect-ratio: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: min-max(12, 16);
      padding: min-max(12, 16);
      transition: var(--transition);

      &_icon {
        width: min-max(60, 95);
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: var(--white);

        img {
          width: 40%;
          height: auto;
        }
      }

      .link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .button {
      position: absolute;
      top: calc(100% + 15px);
      left: 0;
      width: 100%;
      padding: 15px 0 0;
      display: flex;
      justify-content: center;
      visibility: hidden;
      opacity: 0;
      transition: var(--transition);
    }
  }
}