@import 'src/styles/mixin.scss';

.root {
  display: flex;
  @include maxWrap;

  h2 {
    width: 50%;
  }

  .items {
    width: 50%;
    display: flex;
    gap: 20px;

    .item {
      position: relative;
      width: 50%;
      aspect-ratio: 400 / 455;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}