@use "sass:math";
@use "sass:string";

// Convert px to vw
@function px2vw($px, $def_screen: 1440) {
  $vw: $def_screen * 0.01;
  $result: math.div($px, $vw);

  // Округлення до двох десяткових знаків
  @return round($result * 100) / 100 * 1vw;

}

// Define the min-max function
@function min-max($min, $max: $min) {
  $min-value: $min * 1px;
  $max-value: $max * 1px;

  @if $min == $max {
    $min-value: $min * 1px;
  }
  @return clamp($min-value, px2vw($max), $max-value);
}

