@import 'src/styles/mixin.scss';

.root {
  @include maxWrap;

  .slider {
    border-radius: var(--radiusS);
    overflow: hidden;
  }

  .slide {
    aspect-ratio: 1240 / 434;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}