@import "src/styles/common";

.footer {
  display: flex;
  justify-content: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: min-max(16, 20);

    a {
      font-weight: 500;
      font-family: var(--raleway-medium);
      color: var(--white);

      @include hover {
        color: var(--plump);
      }
    }
  }

  .grid {
    background: var(--black);
    border-radius: min-max(12, 24);
    color: var(--white);
    padding-block: min-max(24, 40);
    width: 100%;
    align-items: flex-start;

    @include mq-max-768 {
      align-items: center;
      gap: 42px;
    }

    &_left {
      padding-inline: min-max(16, 30);
      display: flex;
    }

    &_right {
      flex: 1;
      display: flex;
      gap: min-max(24, 32);
      grid-column: 2/4;
      gap: 32px;

      @include mq-max-768 {
        flex-direction: column;
        align-items: center;
        text-align: center;

        menu {
          order: -1;
        }
      }

      & > * {
        flex: 5;
      }
    }

    menu {
      padding: 0;
      margin: 0;
      flex: 3;
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    gap: min-max(16, 24);

    @include mq-min-768 {
      align-items: flex-start;
    }

    .column {
      display: flex;
      flex-direction: column;
      gap: min-max(12, 16);
    }

    .location {
      color: #a2a2a2;
      line-height: 100%;
      display: flex;
      align-items: center;
      gap: min-max(8, 12);
    }

    .item {
      display: flex;
      align-items: center;
      color: var(--white);
      gap: min-max(8, 12);
      padding: 6px min-max(16, 24);
      border-radius: 50px;
      border: 1px solid #697dd9;
      justify-content: center;

      @include hover {
        color: var(--plump);
        border-color: var(--plump);
      }

      .icon {
        width: min-max(24, 32);
        height: auto;
      }
    }
  }

  .mail {
    display: flex;
    align-items: center;
    color: var(--white);
    gap: min-max(8, 12);

    @include hover {
      color: var(--plump);

      [data-mail] {
        --color: var(--plump);
      }
    }
  }
}
