@import "src/styles/common";

.intro {
  padding-top: min-max(60, 90);
  background: url('/img/contacts.jpg') no-repeat center / cover;
  background-size: auto 100%;

  [data-wrapper] {
    padding-block: min-max(40, 60);
  }

  .wrapper {
    max-width: min-max(500, 720);
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: min-max(20, 32);
    align-items: center;
  }
}