@import "src/styles/common";

.intro {
  min-height: 100vh;

  .wrapper {
    max-width: min-max(500, 650);
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: min-max(24, 32);
    align-items: center;
  }

  .text {
    @include font_18_reg;
  }

  .progress {
    display: flex;
    gap: min-max(24, 40);
    margin-top: min-max(16, 24);

    .value {
      @include font_36;
      color: var(--plump);
    }

    .text {
      margin-top: 0.5em;
    }
  }
}
